<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>

<body>
    <div class="container">
        <h3>로그인</h3>
        <hr>
        <div class="mb-3">
            <form action="/login" method="post">
                <label for="exampleFormControlInput1" class="form-label">ID</label>
                <input type="text" class="form-control" size="10" id="exampleFormControlInput1" placeholder="ID"
                    name="uid">
        </div>
        <br>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">비밀번호</label>
            <input type="password" class="form-control" size="10" id="exampleFormControlInput1" placeholder="PASSWORD"
                name="pass">
            <br>
            <button type="submit" class="btn mb-3" style="background-color:#8C8C8C; color: white;">로그인</button>
            <button type="button" class="btn mb-3" style="background-color:#8C8C8C; color: white;"
                onclick='location.href="/join"'>회원가입</button>
            <button type="button" class="btn mb-3" style="background-color:#8C8C8C; color: white;"
                onclick='location.href="/monitor"'>연계 및 모니터링</button>
            </form>
        </div>
        </form>
    </div>
</body>

</html>